
.gameboard {
    width: 800px;
    height: 600px;
    margin-block-start: 30px;
    background-color: lightskyblue;
    position: relative;
    animation: glowy-box 1s infinite alternate;
}

.gameboard.footer{
    height: 100px;
    background-color: #555555;
}

.package {
    --spaceshipsize: 30px;
    height: var(--spaceshipsize);
    width: var(--spaceshipsize);
    background-color: saddlebrown;
    border-radius: 3px;
    visibility: visible;
    position: absolute;
    animation:
            flying 1s ease-in forwards,
            hides 1s ease-in-out 1.2s forwards;
}

.spaceship {
    --spaceshipsize: 30px;
    height: var(--spaceshipsize);
    width: var(--spaceshipsize);
    visibility: visible;
    position: absolute;
    animation:
            float 1s ease-in forwards,
            hides 1s ease-in-out .1s forwards;
}




#jspsych-quickfire-btngroup{
    height: 265px
}
#confidence{
    height: 265px;
}
.experiment-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 0;
    border-radius: 20px;
    padding: 1.5vmax;
    font-family: europa, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    animation: glowy-box 1.5s infinite alternate;
    width: 8vmax;
    margin-block-start: 20px;
    margin: 5vh auto;
    margin-left: 3vmax;
    margin-right: 3vmax;
    background-color:rgba(228, 253,225, 1);
    color: black;
    font-size: 1.5vmax;
}

.experiment-btn:hover, .button.experiment-btn:hover {
    background-color:rgba(228, 253,225, .7);
    animation: glowy-box 1.5s infinite alternate;
}

.confirm {
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 0;
    border-radius: 20px;
    padding: 1.5vmax;
    font-family: europa, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    animation: glowy-box 1.5s infinite alternate;
    width: 8vmax;
    margin: 5vh auto;
    margin-left: 3vmax;
    margin-right: 3vmax;
    background-color:rgba(228, 253,225, 1);
    color: black;
    font-size: 1.5vmax;
}

.banner {
    padding: 20px;
    font-family: fishFont;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
}

.splashbanner {
    padding: 20px;
    font-family: fishFont;
    font-size: 80px;
    line-height: 5em;
    letter-spacing: 7.5px;
    animation: blinking 1.5s  infinite
}

.slider_area{
    display: flex;
}
.slider{
    display: flex;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    margin-top: 15px;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    position: relative;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    /
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#confidenceQuestion {
    font-size: x-large;
    font-family: europa, Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    line-height: 1.2em;
    padding: 5px;
}


@keyframes float {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    50% {
        transform: translateY(1rem);
        -webkit-transform: translateY(1rem);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

@font-face{
    font-family: fishFont;

    src: url("../FindetNemo-KVxD.ttf");
}
@keyframes glowy-box {
    from {
        box-shadow: 0vmin 0vmin 1.3vmin white;
    }
    to {
        box-shadow: 0vmin 0vmin 2vmin white;
    }
}

@keyframes blinking {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}

@keyframes flying {
    0%{top: 0%}
    100%{top: calc(100% - var(--spaceshipsize))}
}


@keyframes color_change {
    to { background-color: saddlebrown; }
}

@keyframes hides {
    to {
        transition-delay: 0s;
        opacity: 0;
    }
}
